<h1>Tags</h1>
<div ng-show="!volunteers || !tags" class="waiting">
	<span ng-show="!errorLoadingData">Please wait while data is loaded</span>
</div>
<ul id="volunteerlist" ng-show="volunteers && tags">
	<li ng-repeat="tag in tags" class="tagitem">
		<div class="taginfo">
      		<div ng-style="{ 'background-color': tag.color}">{{tag.name}}</div>
      		<ul>
      			<li ng-repeat="volunteer in tag.volunteers">
      				{{volunteer.firstname}} {{volunteer.lastname}} - {{volunteer.email}}
      			</li>
      		</ul>
      	</div>
	</li>
</ul>