<html ng-app="volunteerapp">
<head>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="js/vendor/angular.min.js"></script>
	<script src="js/controller.js"></script>
</head>
<body ng-controller="VolunteerController">
	<article>
	<h1>Volunteers</h1>
	<ul>
		<li ng-repeat="volunteer in volunteers">
	      	{{volunteer.firstname}} {{volunteer.lastname}} - {{volunteer.email}} - <a data-toggle="edit" ng-click="editVolunteer(volunteer)">Edit</a> - <a ng-click="deleteVolunteer(volunteer)">Delete</a>
    		Tags: 
			<div ng-repeat="tag in volunteer.tags" style="background-color: {{tag.color}}">
    			<span>{{tag.name}}</span><span ng-click="removeTag(tag, volunteer)">X</span>
    		</div>
			<a ng-click="showTags = !showTags">Add tags</a>
			<ul ng-show="showTags">
				<li ng-repeat="tag in tags" ng-click="addTag(tag, volunteer)">{{tag.name}}</li>
			</ul>
    	</li>
	</ul>
	</article>
	<article>
		<h1>Add volunteer</h1>
		<div>Volunteer valid? {{volunteerform.$valid}} </div>
		<form novalidate class="simple-form" name="volunteerform">
    		Voornaam: <input type="text" ng-model="volunteer.firstname" required/><br />
    		Achternaam: <input type="text" ng-model="volunteer.lastname" required/><br />
    		Email: <input type="email" ng-model="volunteer.email" required/><br />
    		<button ng-click="save()" ng-disabled="volunteerform.$invalid">Save</button>
  		</form>
	</article>
</body>
</html>