<html ng-app="volunteerapp">
<head>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="js/vendor/angular.min.js"></script>
	<script src="js/controller.js"></script>
	<link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css">
</head>
<body ng-controller="VolunteerController">
	<article>
	<h1>Volunteers by name</h1>
	<ul id="volunteerlist">
		<li ng-repeat="volunteer in volunteers" class="volunteeritem">
			<div class="volunteerinfo">
	      		{{volunteer.firstname}} {{volunteer.lastname}} - {{volunteer.email}} - <a data-toggle="edit" ng-click="editVolunteer(volunteer)" class="pointer">Edit</a> - <a ng-click="deleteVolunteer(volunteer)" class="pointer">Delete</a>
	      	</div>
			<div ng-repeat="tag in volunteer.tags" class="ovaltag pointer" ng-style="{ 'background-color': hover ? 'grey' : tag.color}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
				<span ng-click="removeTag(tag, volunteer)" ng-style="{ 'color': hover ? 'black' : ''}">{{tag.name}}</span>
    		</div>
			<a ng-click="showTags = !showTags" class="pointer">Add tags</a>
			<ul ng-show="showTags">
				<li ng-repeat="tag in tags" ng-click="addTag(tag, volunteer)" class="tagtoadd pointer">{{tag.name}}</li>
			</ul>
    	</li>
	</ul>
	</article>
	<article>
		<h1>Add volunteer</h1>
		<div>Volunteer valid? {{volunteerform.$valid}} </div>
		<form novalidate class="simple-form" name="volunteerform">
    		Voornaam: <input type="text" ng-model="volunteer.firstname" required/><br />
    		Achternaam: <input type="text" ng-model="volunteer.lastname" required/><br />
    		Email: <input type="email" ng-model="volunteer.email" required/><br />
    		<button ng-click="save()" ng-disabled="volunteerform.$invalid">Save</button>
  		</form>
	</article>
</body>
</html>